<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="create-blog content">
        <form action="/blogs" method="POST">
            <label for="title">Titre de l'article</label>
            <input type="text" id='title' name="title" required>
            <label for="snippet">Résumé</label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Corps</label>
            <textarea id="body" name="body"required></textarea>
            <button>Soumettre</button>
        </form>
        
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>