<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head.ejs')%>
<body>
    <%-include('../partials/nav.ejs')%>
    <div class="details content">
        <h2><%=blog.title%></h2>
        <div class="content">
            <p><%= blog.body%></p>
        </div>
        <a class="delete" data-doc="<%=blog.id%>"><img src="/trash.svg" alt="delete icon"></a> 
    </div>
    <%-include('../partials/footer.ejs')%>

    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/blogs/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data)=> window.location.href = data.redirect)
            .catch((error)=> console.log('error'));

        });
    </script>
</body>
</html>