<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="blogs content">
        <h2>Tous les articles, en Integration Continue !</h2>
        <%if (blogs.length > 0) { %>
            <% blogs.forEach( blog => { %>
            <a class="single" href="/blogs/<%= blog.id%>">
                <h3 class="title"><%= blog.title %></h3>
                <p class ="snippet"><%= blog.snippet%></p>
            </a>
            <% }); %>
        <% } else { %>
            <p>Pas d'articles disponible.</p>
        <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>