<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node blog | <%= title %></title>
    <link rel="stylesheet" href="/style.css">

</head>