<nav>
    <div class="site-title">
        <a href="/">
            <h1>Node Blog</h1>
        </a>
        <p>The ninja path</p>
    </div>
    <ul>
        <li><a href="/">Articles</a></li>
        <li><a href="/about">A propos</a></li>
        <li><a href="/blogs/create">Nouvel Article</a></li>
    </ul>
</nav>