<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">
        <h2>Page not found :(</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>