<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>A propos</h2>
        <p>Tecchnologies utilisees : Node, Express, MongoDb, Gitlab, Heroku. </br>Dependances : EJS, dotEnv, LoDash, Mangoose, Morgan</p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus ex eu porttitor luctus. Nam vel nisl metus. Nullam vitae ipsum nec magna varius convallis sed ut enim. Pellentesque eu commodo nisi. Nam non egestas nunc. Curabitur varius suscipit est, vitae eleifend elit. Suspendisse vehicula eleifend lorem id finibus. Suspendisse volutpat bibendum lectus non consectetur. Nam rhoncus ultricies dui, at tempor ex maximus tristique. Vestibulum viverra euismod dictum. Sed fermentum feugiat dapibus. Morbi dapibus lectus tellus, non convallis risus finibus at. Nulla quam elit, venenatis at est a, egestas varius velit. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus ex eu porttitor luctus. Nam vel nisl metus. Nullam vitae ipsum nec magna varius convallis sed ut enim. Pellentesque eu commodo nisi. Nam non egestas nunc. Curabitur varius suscipit est, vitae eleifend elit. Suspendisse vehicula eleifend lorem id finibus. Suspendisse volutpat bibendum lectus non consectetur. Nam rhoncus ultricies dui, at tempor ex maximus tristique. Vestibulum viverra euismod dictum. Sed fermentum feugiat dapibus. Morbi dapibus lectus tellus, non convallis risus finibus at. Nulla quam elit, venenatis at est a, egestas varius velit. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus ex eu porttitor luctus. Nam vel nisl metus. Nullam vitae ipsum nec magna varius convallis sed ut enim. Pellentesque eu commodo nisi. Nam non egestas nunc. Curabitur varius suscipit est, vitae eleifend elit. Suspendisse vehicula eleifend lorem id finibus. Suspendisse volutpat bibendum lectus non consectetur. Nam rhoncus ultricies dui, at tempor ex maximus tristique. Vestibulum viverra euismod dictum. Sed fermentum feugiat dapibus. Morbi dapibus lectus tellus, non convallis risus finibus at. Nulla quam elit, venenatis at est a, egestas varius velit. </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>